.header {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
}
.header img {
    margin-right: 10px; /* ロゴとテキストの間隔 */
}

.titletext{
    display: flex;
    flex-direction: column; /* 縦に整列 */
}

{
            display: flex; /* フレックスボックスを使用 */
            justify-content: space-around; /* 画像を均等に配置 */
            align-items: center; /* 垂直方向の中央揃え */
        }
